<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}
			<title>
				MyCoach

			</title>
		{% endblock %}

{% block css %}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" href="{{asset('../front-office/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('../front-office/css/font-awesome.min.css')}}">
		<link
		rel="stylesheet" href="{{asset('../front-office/css/aos.css')}}">

		<!-- MAIN CSS -->
		<link
		rel="stylesheet" href="{{asset('../front-office/css/tooplate-gymso-style.')}}">
	<!--
																																																																																																																																																																	Tooplate 2119 Gymso Fitness
																																																																																																																																																																	https://www.tooplate.com/view/2119-gymso-fitness
	{% endblock %}																																																																																																																																																																-->
	</head> 

	
	<body
		data-spy="scroll" data-target="#navbarNav" data-offset="50">

		<!-- MENU BAR -->
		<nav class="navbar navbar-expand-lg fixed-top">
			<div class="container">

				<a class="navbar-brand" href="{{ path('acceuil') }}">MyCoach</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-lg-auto">
						<li class="nav-item">

							<a href="{{ path('acceuil') }}" class="nav-link smoothScroll">Acceuil</a>
						</li>


						<li class="nav-item">
							<a href="{{ path('coach') }}" class="nav-link smoothScroll">Coachs</a>
						</li>

						<li class="nav-item">
							<a href="{{ path('prog_mus') }}" class="nav-link smoothScroll">Programmes</a>
						</li>

						<li class="nav-item">
							<a href="{{ path('event') }}" class="nav-link smoothScroll">Evénements</a>
						</li>

						<li class="nav-item">
							<a href="{{ path('blog') }}" class="nav-link smoothScroll">Blog</a>
						</li>
					</ul>


				</div>

			</div>
		</nav>
         					{% block body %}

                            {% endblock %}

		<!-- SCRIPTS -->
		
		{% block js %}
			<script src="{{asset('../front-office/js/jquery.min.js')}}"></script>
			<script src="{{asset('../front-office/js/bootstrap.min.js')}}"></script>
			<script src="{{asset('../front-office/js/aos.js')}}"></script>
			<script src="{{asset('../front-office/js/smoothscroll.js')}}"></script>
			<script src="{{asset('../front-office/js/custom.js')}}"></script>

			{% endblock %}
		</body>
	</html>
</body></html>